#contact {
  background-color: #fff;
  padding-top: 120px;
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 150px;
    &__title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    &__description {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    &__btn {
      width: 200px;
      height: 50px;
      font-size: 16px;
      font-weight: 700;
      border: none;
      border-radius: 8px;
      background-color: #093545;
      color: #fff;
      border: 1px solid #093545;
      transition: 0.3s;
    }
    &__btn:hover {
      background-color: #fff;
      color: #093545;
    }
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }
  .contact__bottom {
    padding-bottom: 100px;
  }
  .contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;
    input {
      width: 100%;
      height: 50px;
      font-size: 16px;
      padding: 15px;
      border-radius: 8px;
      color: #093545;
      border: 2px solid #093545;
      transition: 0.3s;
    }
  }
  textarea {
    display: block;
    width: 49%;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    color: #093545;
    border: 2px solid #093545;
    transition: 0.3s;
    resize: none;
    margin-bottom: 30px;
  }
  .contact__send__btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: #093545;
    color: #fff;
    border: 1px solid #093545;
    transition: 0.3s;
  }
  .contact__send__btn:hover {
    background-color: #fff;
    color: #093545;
  }
}
